    <footer id="footer" class="container py-5"> 
      <div class="row">
        <div class="col-12 col-md">
          <img src="/assets/celenka-logo.png" alt="čelenka logo" width="25">
          <small class="d-block mb-3 text-muted">&copy; 2022</small>
        </div>
        <div class="col-6 col-md">
          <h5>O nákupe</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#" data-bs-toggle="modal" data-bs-target="#measurement-modal">Ako zmerať obvod hlavy</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Informácie</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#" data-bs-toggle="modal" data-bs-target="#privacy-policy-modal">Zásady ochrany osobných údajov</a></li>
            <li><a class="link-secondary" href="#" data-bs-toggle="modal" data-bs-target="#terms-conditions-modal">Obchodné podmienky</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Médiá</h5>
          <ul class="list-unstyled text-small">
            <li><a href="https://www.facebook.com/celenka.moda" class="fa fa-facebook" target="_blank" aria-label="Facebook"></a></li>
            <li class="mt-1"><a href="https://www.instagram.com/celenka.moda/" class="fa fa-instagram" target="_blank" aria-label="Instagram"></a></li>
            <li class="mt-1">
              <a href="mailto:celenka.moda@gmail.com" class="fa fa-envelope" target="_blank" aria-label="Email"></a> 
                <small>
                  <i>celenka.moda@gmail.com</i>
                </small>
            </li>
          </ul>
        </div>
      </div>
    </footer>