<header class="site-header">
    <nav class="text-center container d-flex flex-column flex-md-row justify-content-between">
        <i class="fa fa-bars hamburger-menu d-md-none"></i>
        <a class="py-2 d-none d-md-inline-block" href="/index.html" aria-label="čelenka logo">
            <img src="/assets/celenka-logo.png" alt="čelenka logo" width="25">
        </a>
        <a class="py-2 d-none d-md-inline-block" href="/index.html#products">Čelenky</a>
        <a class="py-2 d-none d-md-inline-block" href="/index.html#about">Príbeh</a>
        <a class="py-2 d-none d-md-inline-block" href="/index.html#order-form">Objednávací formulár</a>
        <a class="py-2 d-none d-md-inline-block mb-md-0 mb-3" href="#footer">Kontakt</a>
    </nav>
</header>