<div class="modal fade" id="measurement-modal" tabindex="-1" aria-labelledby="measurement-modal-heading" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="measurement-modal-heading">Ako zmerať obvod hlavy</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Obvod hlavy meriame podľa obrázka nižšie:</p>
            <div class="text-center mt-5">
                <img src="./assets/measurement.png" alt="Ako odmerať obvod hlavy obrázok" loading="lazy" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavrieť</button>
        </div>
        </div>
    </div>
</div>