<div class="modal fade" id="privacy-policy-modal" tabindex="-1" aria-labelledby="privacy-policy-modal-heading" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="privacy-policy-modal-heading">Zásady ochrany osobných údajov</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
<p>V zmysle zákona č. 122/2013 Z. z. o ochrane osobných údajov v platnom znení súhlasím so spracovaním a uchovávaním mojich osobných údajov spoločnosťou Martina Jakabová, Tokajská 1831/31, 040 18, Košice – Krásna, IČO: 54636388 (ďalej len „Prevádzkovateľ“) uvedených v Objednávkovom formulári na internetovej stránke Prevádzkovateľa www.celenka.moda. Vyhlasujem, že všetky uvedené informácie sú pravdivé a poskytnutie údajov je dobrovoľné na základe vlastného rozhodnutia. Tieto údaje môžu byť spracované výlučne pre účely Objednávky a pre účely vedenia databázy zákazníkov Predajcu. Súhlas so spracúvaním osobných údajov platí do jeho odvolania. Tento súhlas je možné kedykoľvek písomne odvolať.</p>
<strong>I. Kto je Správca osobných údajov</strong>
<p>Správcom osobných údajov na eshope www.celenka.moda je Martina Jakabová, Tokajská 1831/31, 040 18, Košice – Krásna, IČO: 54636388. Vaše osobné údaje spracovávame ako správca, čiže určujeme ako budú spracovávané.</p>
<strong>II. Kontaktné údaje</strong>
<p>V prípade otázok sa na nás môžete obrátiť emailom na celenka.moda@gmail.com</p>
<strong>III.  Prehlásenie</strong>
<p>Prehlasujeme, že ako správca Vašich osobných údajov spĺňame všetky zákonné povinnosti vyžadované platnou legislatívou - zákonom o ochrane osobných údajov a GDPR, a teda že:
Budeme spracovávať vaše osobné údaje len na základe platného právneho dôvodu, a to predovšetkým oprávneného záujmu, plnenia zmluvy, zákonnej povinnosti či udeleného súhlasu.
Plníme si podľa článku 13 GDPR informačnú povinnosť ešte pred zahájením spracovávania osobných údajov.
Umožníme a budeme vás podporovať v uplatňovaní a plnení vašich práv podľa zákona o ochrane osobných údajov a GDPR.</p>
<strong>IV. Rozsah osobných údajov a účel spracovania</strong>
<p>Spracovávame osobné údaje, ktoré nám zveríte sami, a to z nasledujúcich dôvodov (pre naplnenie týchto účelov):
Poskytovanie služieb, plnenie zmluvy
Vaše osobné údaje v rozsahu: e-mail, meno, priezvisko, adresa bydliska, v prípade nákupu ako podnikateľ alebo firma tiež IČO a DIČ, číslo účtu, príp. telefónne číslo potrebné k plneniu zmluvy, t.j. dodanie objednaného tovaru.
Vedenie účtovníctva
Ak ste zákazníkom, vaše osobné údaje (fakturačné údaje) potrebujeme, kvôli zákonnej povinnosti pre vystavovanie a evidenciu daňových dokladov.
Marketing – zasielanie informačných e-mailov
Vaše osobné údaje (e-mail a meno), využívame za účelom priameho marketingu. Ak ste našim zákazníkom, robíme tak pretože dôvodne predpokladáme, že vás naše novinky zaujímajú, a to po dobu 2 rokov od poslednej objednávky.
Fotografická dokumentácia, referencie
Len na základe Vášho súhlasu môžeme použiť vaše fotografie, videá alebo písomné referencie na svojich stránkach, a to do doby, než váš udelený súhlas odvoláte. Ten môžete kedykoľvek odvolať prostredníctvom našich kontaktných údajov.
Vaše osobné údaje si ponechávame po dobu plynutia premlčacích lehôt, pokiaľ zákon nestanoví dlhšiu dobu k ich uchovaniu alebo sme v konkrétnych prípadoch neuviedli inak.</p>
<strong>VI. Zabezpečenie a ochrana osobných údajov</strong>
<p>Chránime osobné údaje v maximálnej miere pomocou moderných technológií, ktoré odpovedajú stupňu technického rozvoja. Prijali sme a udržujeme všetky možné (aktuálne známe) technické a organizačné opatrenia, ktoré zamedzujú zneužitiu, poškodeniu alebo zničeniu vašich osobných údajov, a teda:
Zabezpečeným prístupom do našich počítačov (zabezpečené heslom).
Zabezpečeným prístupom do našich e-mailových schránok (zabezpečené užívateľským menom a heslom).
Zabezpečeným prístupom do aplikácií ktoré využívame (zabezpečené menom a heslom).
Zabezpečeným prístupom do účtovných systémov (zabezpečené menom a heslom).
Šifrovanou komunikáciou na našom webe (platný certifikát https).
Pravidelnou aktualizáciou softwaru a antivírovým programom
Bezpečne uzamknutou prevádzkarňou (zabezpečené uzamykateľnými dverami).
Osobné údaje budú spracovávané v elektronickej podobe automatizovaným spôsobom alebo v tlačenej podobe neautomatizovaným spôsobom.</p>
<strong>VII. Poskytnutie osobných údajov tretím osobám</strong>
<p>K vašim osobným údajom nemá okrem nás nikto prístup.
Pre zaistenie konkrétnych spracovateľských operácií, ktoré nedokážem zaistiť vlastnými silami, využívame služby a aplikácie spracovateľov, ktorí sa na dané spracovanie sa špecializujú.
Iným subjektom je umožnený prístup len z dôvodu plnenia zákonných povinností.
Je možné, že sa v budúcnosti rozhodneme využiť ďalšie aplikácie či spracovateľov, pre uľahčenie a skvalitnenie spracovania. Sľubujeme vám však, že v takom prípade pri výbere budeme na spracovateľa klásť minimálne rovnaké nároky na zabezpečenie a kvalitu spracovania ako na seba a aktuálnych spolupracovníkov.
Vaše údaje nebudeme poskytovať do tretích zemí. Dáta spracovávam výhradne v Európskej únii alebo v krajinách, ktoré zaisťujú odpovedajúcu úroveň ochrany na základe rozhodnutia Európskej komisie.</p>
<strong>VIII. Vaše práva v súvislosti s ochranou osobných údajov</strong>
<p>V súvislosti s ochranou osobných údajov máte množstvo práv. Pokiaľ budete chcieť niektoré z týchto práv využiť, prosím, kontaktujte nás prostredníctvom e-mailu: celenka.moda@gmail.com
Máte právo na informácie, ktoré je plnené už touto informačnou stránkou so zásadami spracovania osobných údajov.
Vďaka právu na prístup nás môžete kedykoľvek vyzvať a my vám doložíme v lehote 15 dní, aké vaše osobné údaje spracovávame a prečo.
Pokiaľ sa u vás niečo zmení alebo pokladáte svoje osobné údaje za neaktuálne alebo neúplné, máte právo na doplnenie a zmenu osobných údajov.
Právo na obmedzenie spracovania môžete využiť, pokiaľ sa domnievate, že spracovávame vaše nepresné údaje, domnievate sa, že spracovávame nezákonne, ale nechcete všetky údaje zmazať alebo pokiaľ ste vzniesli námietku proti spracovaniu.
Obmedziť môžete rozsah osobných údajov alebo účel spracovania. 
Právo na výmaz (byť zabudnutý): Vašim ďalším právom je právo na výmaz (byť zabudnutý). Pokiaľ si to budete priať, máte na to právo. V takomto prípade vymažeme všetky vaše osobné údaje zo svojho systému i zo systému všetkých spracovateľov a záloh. Na zaistenie práva na výmaz potrebujeme 10 dní.
V niektorých prípadoch sme viazaní zákonnou povinnosťou, a napr. musíme evidovať vystavené daňové doklady po lehotu stanovenú zákonom. V tomto prípade teda zmažeme všetky také osobné údaje, ktoré nie sú viazané iným zákonom. O dokončení výmazu vás budeme informovať na váš e-mail.
Sťažnosť na Úrade na ochranu osobných údajov:
Pokiaľ máte pocit, že s vašimi údajmi nezaobchádzame v súlade so zákonom, máte právo sa so svojou sťažnosťou kedykoľvek obrátiť na Úrad pre ochranu osobných údajov. Budeme radi ak najprv budete o tomto podozrení informovať nás, aby sme mohli prípadné pochybenie napraviť.</p>
<strong>IX. Mlčanlivosť</strong>
<p>Dovoľujeme si Vás uistiť, že sme povinní zachovávať mlčanlivosť o osobných údajoch a o bezpečnostných opatreniach, ktorých zverejnenie by ohrozilo zabezpečenie Vašich osobných údajov. Táto mlčanlivosť pritom trvá i po skončení záväzkových vzťahov s nami. Bez Vášho súhlasu nebudú vaše osobné údaje vydané žiadnej inej tretej strane.
Tieto zásady spracovania osobných údajov platia od 17.05.2022.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavrieť</button>
        </div>
        </div>
    </div>
</div>