<div class="modal fade" id="terms-conditions-modal" tabindex="-1" aria-labelledby="terms-conditions-modal-heading" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="terms-conditions-modal-heading">Obchodné podmienky</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
<strong>Všeobecné ustanovenie</strong>
 
<p>Tieto obchodné podmienky platia pri nákupe v internetovom obchode www.celenka.moda, ktorého prevádzkovateľom je Martina Jakabová, Tokajská 1831/31, 040 18, Košice – Krásna, IČO: 54636388, email: celenka.moda@gmail.com 
Prevádzkovateľ nie je platcom DPH.
Obchodné podmienky sú súčasťou uzavretej kúpnej zmluvy medzi predávajúcim na jednej strane a kupujúcim na strane druhej. Všetky zmluvné vzťahy sú uzatvorené v súlade s právny poriadkom Slovenskej republiky. V prípade, že je zmluvnou stranou spotrebiteľ, riadia sa vzťahy neupravené týmito obchodnými podmienkami zákonom č. 40/1964 Z. z., občiansky zákonník, zákonom č. 250/2007 Z. z., o ochrane spotrebiteľa, 102/2014 Z.z. o ochrane spotrebiteľa pri predaji tovaru alebo poskytovaní služieb na základe zmluvy uzavretej na diaľku alebo zmluvy uzavretej mimo prevádzkových priestorov predávajúceho, zákonom č. 22/2004 Z.z., o elektronickom obchode, zákonom č. 391/2015 Z.z., zákon o alternatívnom riešení spotrebiteľských sporov a o zmene a doplnení niektorých zákonov všetky v platnom znení. V prípade, že je zmluvnou stranou podnikateľ riadia sa vzťahy neupravené týmito obchodnými podmienkami zákonom č. 513/1991 Z. z. v platnom znení.
Vymedzenie pojmov
Spotrebiteľská zmluva je každá zmluva bez ohľadu na právnu formu, ktorú uzatvára dodávateľ so spotrebiteľom.
Predávajúci (dodávateľ) je osoba, ktorá pri uzatváraní a plnení spotrebiteľskej zmluvy koná v rámci predmetu svojej podnikateľskej činnosti alebo povolania alebo osoba konajúca v jej mene alebo na jej účet.
Kupujúci – spotrebiteľ je fyzická , ktorá pri uzatváraní a plnení spotrebiteľskej zmluvy nekoná v rámci predmetu svojej podnikateľskej činnosti, zamestnania alebo povolania.</p>

<strong>Objednávka a uzatvorenie kúpnej zmluvy</strong>
<p>Kupujúci si vyberie produkt na základe aktuálnej ponuky uverejnenej na internetovej stránke www.celenka.moda, tento výber potvrdí zaslaním objednávacieho formulára. 
Objednávky uskutočnené prostredníctvom internetového obchodu www.celenka.moda sú záväzné. Odoslaním objednávky kupujúci potvrdzuje, že sa zoznámil a súhlasí s týmito obchodnými podmienkami, čo zároveň potvrdí aktívnym odklikom pred odoslaním objednávky.
Návrhom na uzatvorenie zmluvy je umiestnenie ponúkaného tovaru na internetovej stránke www.celenka.moda , zmluva vzniká odoslaním objednávacieho formulára kupujúcim a prijatím objednávky predávajúcim. Takto uzatvorenú zmluvu nie je možné jednostranne meniť (takto uzatvorenú zmluvu je možné meniť na základe dohody oboch strán).
Informácie o jednotlivých krokoch vedúcich k uzatvoreniu zmluvy vyplývajú z týchto obchodných podmienok a kupujúci má vždy možnosť pred samotným odoslaním objednávky túto skontrolovať, prípadne ju opraviť.
Zmluva je uzatváraná v slovenskom jazyku, ak tomu nebránia okolnosti na strane predávajúceho ani kupujúceho, je možné uzatvoriť zmluvu v inom, pre obe strany zrozumiteľnom, jazyku.</p>
<strong>Ceny</strong>
<p>Ceny jednotlivých produktov sú uvádzané bez dane z pridanej hodnoty (DPH).</p>
<strong>Platobné podmienky</strong>
<p>Kúpnu cenu kupujúci zaplatí prevádzkovateľovi prevodom na účet.</p>
<strong>Dodacie podmienky</strong>
<p>Tovar je doručovaný prostredníctvom Packety.
Po pripísaní čiastky na účet predávajúceho je tovar expedovaný kupujúcemu – dodacia doba sa môže pri jednotlivých produktoch líšiť.
Ceny za dodanie sa odvíjajú od aktuálneho cenníka Packety.</p>
<strong>Záruka, záručný list</strong>
<p>Záručná doba je 24 mesiacov a začína plynúť od prevzatia veci kupujúcim. 
Na žiadosť kupujúceho je predávajúci povinný poskytnúť záruku písomnou formou (záručný list). Ak to povaha veci umožňuje, postačí namiesto záručného listu vydať doklad o kúpe.
Záručný list obsahuje označenie predávajúceho (meno a priezvisko, obchodné meno alebo názov predávajúceho, jeho sídlo alebo miesto podnikania), obsah záruky, jej rozsah a podmienky, dĺžku záručnej doby a údaje potrebné na uplatnenie záruky. Ak záručný list neobsahuje všetky náležitosti, nespôsobuje to neplatnosť záruky.
Vyhlásením v záručnom liste vydanom kupujúcemu alebo v reklame môže predávajúci poskytnúť záruku presahujúcu rozsah zákonnej záruky, podmienky a rozsah tejto záruky určí predávajúci v záručnom liste.
Záruka sa nevzťahuje na bežné opotrebenie, mechanické poškodenie a pod.</p>
<strong>Prevzatie tovaru</strong>
<p>Kupujúci spotrebiteľ bezodkladne po prevzatí vizuálne skontroluje akosť a množstvo produktu a v prípade nezrovnalostí kontaktuje obratom predávajúceho. V prípade, že je zásielka viditeľne poškodená už pri preberaní od dopravcu, odporúčame kupujúcemu, z dôvodu efektívnejšej obrany jeho práv, tovar neprevziať, spísať s prepravcom protokol a o tejto skutočnosti informovať predávajúceho za účelom dohodnutia ďalšieho postupu.</p>
<strong>Reklamácia a jej uplatnenie</strong>
<p>Predávajúci zodpovedá za vady, ktoré má predaná vec pri prevzatí kupujúcim.
Ak ide o vadu, ktorú možno odstrániť, má kupujúci právo, aby bola bezplatne, včas a riadne odstránená. Predávajúci je povinný vadu bez zbytočného odkladu odstrániť. Kupujúci môže namiesto odstránenia vady požadovať výmenu veci, alebo ak sa vada týka len súčasti veci, výmenu súčasti, ak tým predávajúcemu nevzniknú neprimerané náklady vzhľadom na cenu tovaru alebo závažnosť vady. Predávajúci môže vždy namiesto odstránenia vady vymeniť vadnú vec za bezvadnú, ak to kupujúcemu nespôsobí závažné ťažkosti.
Ak ide o vadu, ktorú nemožno odstrániť a ktorá bráni tomu, aby sa vec mohla riadne užívať ako vec bez vady, má kupujúci právo na výmenu veci alebo má právo od zmluvy odstúpiť. Tie isté práva prislúchajú kupujúcemu, ak ide síce o odstrániteľné vady, ak však kupujúci nemôže pre opätovné vyskytnutie sa vady po oprave alebo pre väčší počet vád vec riadne užívať. Ak ide o iné neodstrániteľné vady, má kupujúci právo na primeranú zľavu z ceny veci.
V prípade uplatnenia reklamácie, sťažnosti alebo podnetu, zašle spotrebiteľ tovar zabalený do obalu vyhovujúceho preprave spolu s popisom vady a kópiou dokladu o kúpe (prípadne záručným listom, ak bol vydaný) na adresu predávajúceho.</p>
<strong>Odstúpenie od zmluvy</strong>
<p>Spotrebiteľ je oprávnený bez uvedenia dôvodu odstúpiť od zmluvy do 14 kalendárnych dní odo dňa prevzatia tovaru alebo odo dňa uzavretia zmluvy o poskytnutí služby. 
Odstúpením spotrebiteľa od zmluvy sa zmluva od začiatku zrušuje. Predávajúci je povinný prevziať tovar späť alebo nepokračovať v poskytovaní služby, vrátiť spotrebiteľovi najneskôr v lehote 14 kalendárnych dní odo dňa odstúpenia od zmluvy (nie však pred tým, ako je predávajúcemu doručený tovar, alebo inak jeho zaslanie spotrebiteľom preukázané) cenu zaplatenú za tovar alebo za službu alebo preddavok, ktorý spotrebiteľ uhradil za tovar alebo za službu vrátane nákladov, ktoré spotrebiteľ vynaložil v súvislosti s objednaním tovaru alebo služby(vrátane poštovného, nákladov na dopravu, dodanie a pod., ktoré kupujúci zaplatil pre doručenie tovaru k nemu). Náklady na vrátenie tovaru znáša spotrebiteľ  v tom prípade, ak výrobok plne zodpovedal kvalitatívnym požiadavkám a nebol vadný. Prejav vôle k odstúpeniu od zmluvy zašle spotrebiteľ prostredníctvom emailu na celenka.moda@gmail.com a zároveň je spotrebiteľ povinný najneskôr do 14 kalendárnych dní odo dňa odstúpenia zaslať tovar späť na adresu predavajúceho.
V rámci zákonnej lehoty na odstúpenie od zmluvy bez uvedenia dôvodu (14 kalendárnych dní od prevzatia tovaru), je spotrebiteľ oprávnený vyskúšať tovar v rámci zaobchádzania potrebného na zistenie vlastností a funkčnosti tovaru, v opačnom prípade je spotrebiteľ zodpovedný za zníženie hodnoty tovaru. Predávajúci vráti spotrebiteľovi už zaplatenú čiastku/cenu v zákonnej 14 dňovej lehote rovnakým spôsobom platby, ktorým spotrebiteľ zaplatil pre získanie tovaru alebo služby, alebo iným spôsobom platby na základe dohody so spotrebiteľom.</p>
<strong>Záverečné ustanovenia</strong>
<p>Tieto obchodné podmienky platia v znení uvedenom na internetových stránkach www.celenka.moda, v deň odoslania objednávky kupujúcim, ktorý ich bezvýhradne prijíma, čo taktiež potvrdí odklikom pred odoslaním objednávky.
Prevádzkovateľ si vyhradzuje právo na prípadnú zmenu či doplnenie obchodných podmienok.
Tieto obchodné podmienky nadobúdajú účinnosť dňa 17.05.2022.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavrieť</button>
        </div>
        </div>
    </div>
</div>